
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.App {
  overflow: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-weight: 500;
}
li {
  list-style: none;
}
body {
  font-family: Neue Einstellung;
  overflow-x: hidden;
  background: #f6f4f2;
}
body a,
body input {
  text-decoration: none;
  outline: none;
}
p {
  font-size: 16px;
  letter-spacing: 0px;
  color: #232323;
  font-family: "Neue Einstellung";
}
h1,
h2,
h3 {
  font-size: 55px;
  letter-spacing: 1px;
  line-height: normal;
  color: #232323;
  font-weight: bold;
  font-family: "Neue Einstellung";
}
h2 {
  font-size: 40px !important;
}
h3 {
  font-size: 34px !important;
}
h4 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  text-transform: uppercase;
  color: #232323;
  font-weight: 600;
}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/Neue\ Einstellung\ Bold.ttf);
 
}

@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/Neue\ Einstellung\ Bold.woff);
  
}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/Neue\ Einstellung\ Bold.woff2);
 
}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/NeueEinstellung-Regular.eot);
  
}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/NeueEinstellung-Regular.ttf);

}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/NeueEinstellung-Regular.woff);
  
}
@font-face {
  font-family: Neue Einstellung;
  src: url(../fonts/NeueEinstellung-Regular.woff2);
  
}
.button {
  background: #310f4c;
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 13px 35px;
  display: inline-block;
  border: none;
  font-weight: 300;

}
/* header start */
.header {
  padding-top: 20px;
}
nav a {
  font-size: 16px;
  letter-spacing: 0px;
  color: #232323;
}
.header-top,
.header-icons,
nav.nav > ul,
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-contact-us,
.header-logo,
.header-icons {
  width: 33%;
}
.header-icons {
  padding-left: 170px;
  position: relative;
}

.header-icons .search-icon > input.search-close,.header-icons .search-icon > input.search-open {
  width: 0;
  position: absolute;
  top: 32px;
  right: 0;
  border: none;
  transition: all .3s ease-in-out;
}
.header-icons .search-icon > input.search-open {
  width: 200px;
  transition: all .3s ease-in-out;
  border: 1px solid;
  padding: 5px;
}
.header-icons .bell-icon {
  margin-right: 10px;
  position: relative;
}
.header-icons .bag-icon{
  position: relative;
}
.header-icons .bag-icon > a > span {
  position: absolute;
  left: 22px;
  font-size: 15px;
  top: 10px;
}
.header-icons .bell-icon > a >span {
  position: absolute;
  background: red;
  color: #fff;
  width: 19px;
  height: 19px;
  font-size: 10px;
  text-align: center;
  top: -9px;
  right: -8px;
  border-radius: 50px;
  padding: 3px 0 0;
  border: 1px solid #fff;
}

.header-logo {
  max-width: 145px;
}
.header-icons a {
  color: #310f4c;
  display: flex;
}
.header-icons a svg {
  width: 20px;
  height: 20px;
}
nav.nav > ul {
  column-gap: 45px;
  justify-content: center;
}
nav.nav {
    padding-top: 30px;
    padding-bottom: 20px;
}
/* nav */
header.header .container{
  position: relative;
}
nav.mobile-nav{
  display: none;
}
.engagement-ring {
  padding-top: 20px;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0 auto;
  right: 0;
  background: #fff;
  padding: 27px 0 0%;
  z-index: 1;
  align-items: start;
}
.nav > ul > li:hover .engagement-ring {
  display: flex;
}
.engagement-ring.flex:before {
  content: "";
  background: #fff;
  position: absolute;
  left: -50vw;
  right: -50vw;
  width: 500vw;
  height: 100%;
  z-index: -1;  
  top: 0;
}
.engagement-ring > ul > li:first-child > a {
  font-size: 13px;
  padding-bottom: 15px;
  display: inline-block;
  padding-left: 0;
  font-weight: 600;
}
.engagement-ring > ul > li > a {
  padding-bottom: 13px;
  display: inline-block;
  padding-left: 13px;
}
.nav ul.nav-img{
   width: 200px;
}

.engagement-ring > ul {
  width: calc(100%/4 - 20px);
  margin: 9px;
}
.nav-mobile{
  display: none;
}
/* header end */
/* accordion start */
 
.content{
  display: none;
}
.content a{ 
  overflow: hidden;
  display: none;
  max-height: 0;
  display: inline-block;

}
.content-show a{
  overflow: hidden;
  max-height: 9999px;
 display: inline-block;
}
/* .content-show{
  transition: all 0.5s;
  background-color: white;
  color: black;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  max-height: 9999px;
  display: block;
} */

.mobile-nav > a {
  display: flex;
}
/* accordion end */
/* banner start */
.banner-main {
  background: #e7eae9;
}
.banner-text a.button {
  padding: 15px 30px; 
}
.banner-main .container {
  max-width: 100%;
  width: calc(50%  + 504px);
  margin-left: auto;
  margin-right: 0;
}
.banner-main{
    position: relative;
    overflow-x: hidden;
}
.banner .banner-img img{
  display: block;
}
.banner .banner-text {
  width: 35%;
}
.banner .banner-img {
  width: 65%;
}
.banner-text > p {
  padding: 18px 0px 34px;
}

/* banner end */

/* Shop diamonds by shape start */
.ShopDiamondShape-img-text img {
    width: 80px;
}
.ShopDiamondShape-img-text p, .ShopCategory-img-text p, .MostLoved .MostLoved-img-text p {
    padding-top: 15px;
}
.ShopDiamondShape-img-text, .ShopCategory-img-text, .MostLoved .MostLoved-img-text{
    text-align: center;
}
.ShopDiamondShape h2, .ShopCategory h2, .MostLoved h2 {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 90px;
}
.ShopDiamondShape.container {
    padding: 90px 0px;
}
.ShopDiamondShape-img-text {
  width: calc(100%/10 - 20px);
  padding: 10px;
}
.ShopCategory{
    padding-bottom: 90px;
    display: block;
}
.ShopCategory-img img{
  width: 160px;
}

.ShopDiamondShape {
  background: #fff;
  padding-bottom: 90px;
}
.MostLoved{
  padding-bottom:65px;
  display: block;
}
.endsSoon-text .earrings{
    padding: 10px 0px 13px;
}
.endsSoon{
    background: #ede7da;
    padding: 35px 0 0;
    margin-bottom: 90px;
}
.endsSoon-text {
  width: 50%;
  padding-left: 70px;
}
.endsSoon-img {
  width: 50%;
}

.mobile-ShopDiamondShape-main{
  display: none;
}
.ShopDiamondShape{
  display: block;
}
/* Shop diamonds by shape end */
/* EternityRings  start*/
.eternityRings-main{
background: #bcbebf;
position: relative;
}
.MostLoved .MostLoved-btn{
    margin: 50px auto 0;
    text-align: center;
}
.MostLoved .MostLoved-btn .button{
    padding: 13px 60px;
}
.MostLoved .MostLoved-img img {
  width: 98px;
}
.MostLoved .MostLoved-img, .ShopCategory .ShopCategory-img {
  background: #fff;
  padding: 34px 0px 16px;
  text-align: center;
}
.ShopCategory .ShopCategory-img {
  padding: 64px 0 30px !important;
}
.MostLoved .column-width, .ShopCategory .column-width {
  width: calc(100%/5 - 0px);
  padding: 10px;
  text-align: center;
}
.MostLoved .column-width p, .ShopCategory .column-width p{
  padding-top: 15px;
}
.eternityRings-text {
  width: 35%;
  position: absolute;
  left: 73px;
}
.eternityRings-img {
  width: 75%;
  margin-left: auto;
}
.eternityRings-img img {
  object-fit: cover;
  height: 369px;
  object-position: center -342px;
  width: 100%;
  display: block;
}
.eternityRings-text p:nth-child(2), .menRings-text p:nth-child(2) {
  padding: 12px 0px 0;
  font-weight: 600;
}

.eternityRings-text p:nth-child(3), .menRings-text p:nth-child(3) {
  padding: 13px 0 21px;
  line-height: 25px;

}

.menRings{
  background: #cbbcb5;
  
}
.menRings .container {
  max-width: 100%;
  width: calc(50%  + 570px);
  margin-left: auto;
  margin-right: 0;
  padding: 0 !important;
}

.menRings-img, .menRings-text {
  width: 64%;
}
.menRings-img img{
  display: block;
}
.menRings .menRings-img img {
  height: 491px;
}
.menRings-text a.button {
  padding: 11px 47px;
}
.menRings-text {
  max-width: 36%;
}
/* EternityRings End */

/* BridalSets start */
.bridalSets-necklaces {
  margin: 40px 0;
}

.bridalSets , .bridalSets-2{
  position: relative;
  background: #cbcdc7;
  width: 49.4%;
  height: 430px;
}
.bridalSets .bridalSets-text {
  width: 44%;
  height: 100%;
  padding: 30px 0 0 30px;
}
.bridalSets-2 .bridalSets-text {
  position: absolute;
  top: 30px;
  left: 30px;
}
.bridalSets .bridalSets-img {
  width: 56%;
  height: 100%;
}

.bridalSets .bridalSets-img img, .bridalSets-2 .bridalSets-img img {
  width: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;
}

.bridalSets-2 .bridalSets-img {
  width: 100%;
  height: 100%;
}

.bridalSets-text > p {
  padding: 15px 0 20px;
  font-weight: 600;
}
/* BridalSets End */
/* footer start */

footer.footer .container {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 60px 0 40px;
}
.ftr-contact-ul {
  width: 17%;
}
.ftr-contact-form {
  width: 30%;
}
.footer form {
    position: relative;
    margin: 18px 0px 30px;
}
.footer .email input {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  padding: 15px;
}
.submit-btn {
  position: absolute;
  top: 1px;
  right: 0;
}
.submit-btn .button {
    padding: 14px 17px;
}
.ftr-icons span > a {
  font-size: 25px;
  color: #333333;
  display: flex;
}
.ftr-contact{
    align-items: start;
}
.ftr-icons{
padding-right: 15px;
}
.ftr-contact.flex > ul > h4 > a {
  padding-bottom: 7px;
  color: #232323;
  display: inline-block;
  font-weight: 600;
}
ul.ftr-contact-form > h4 {
  padding-bottom: 12px;
}
.ftr-contact.flex ul li > a{
    font-size: 14px;
letter-spacing: 0px;
line-height: 28px;
color: #232323;
}
.copy-right {
  text-align: center;
    padding: 23px 0px;
}
.ftr-desktop{
  display: block;
}
.mobile-footer{
  display: none;
}
.contact-main{
  display: none;
}
/* footer end */
@media(min-width: 2250px){

  .bridalSets, .bridalSets-2 {
    height: 60vh;
}
.bridalSets .bridalSets-img, .bridalSets-2 .bridalSets-img{
  height: 100%;
}
.menRings .menRings-img img {
  height: 50vh;
}
}
@media(max-width: 1199px){
  .container{
    padding: 0 15px !important;
  }
  .banner-main .container {
    padding: 0 !important;
    padding-left: 15px !important;
}
  .menRings-text{
    padding-left: 15px;
  }
  .header-icons {
    padding-left: 115px;
}
.eternityRings-img img {  
  object-position: center -255px;  
}
.bridalSets .bridalSets-img img{
  object-fit: initial;
}
}
@media(max-width: 991px){
  .container{
    width: 100%;
  }
  .button {
    font-size: 16px;
    padding: 10px 20px;
}
h1 {
  font-size: 40px;
}
h2{
  font-size: 30px !important;
}
h3{
  font-size: 25px !important;
}
p{
  line-height: 25px;
}
/* navbar */
nav.res-nav, .nav{
  display: none;
}
.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.header-top{
  display: none;
}
.nav-mobile-logo {
  width: 100px;
}
.nav-mobile-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}
.nav-mobile-icons .bell-icon a > span {
  position: absolute;
  top: -9px;
  right: -5px;
  background: red;
  color: #fff;
  border-radius: 50px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  padding-top: 1px;
}
.nav-mobile-icons .bell-icon {
  position: relative;
}
.nav-mobile-contact-us {
  width: 100%;
  margin-top: 20px;
}
header.header .container {
  display: flex;
  flex-direction: column-reverse;
}
nav.nav > ul {
  /* column-gap: 45px; */
  justify-content: center;
  display: inline;
}
.navabar-icons2 {
  display: none;
}

nav.mobile-nav > ul > li {
  position: relative;
  z-index: 11;
}
li.engagement .engagement-ring {
  display: flex;
  position: static;
}
.engagement-ring > ul {
  width: calc(100%/2 - 20px);
  margin: 9px;
}
 .non-engagement .engagement-ring{
  display: none ;
}
nav.mobile-nav > ul {
  height: 500px;
  overflow-y: scroll;
}
.engagement-ring.flex:before {
  content: "";
  background: #fff;
  position: absolute;
  width:100%;
  height: 100%;
  z-index: -1;
  top: 0;
}
.header {
  padding-bottom: 16px;
}
.close-icons {
  background: #551a8b;
  padding: 5px 5px;
  color: #fff;
}
.HamburgerMenu-icons{
  color: #551a8b;
  padding: 5px 5px;

}
 .allnav-menu > ul > li > a {
  padding: 10px 0;
  display: inline-block;
}
nav.mobile-nav > ul > li > span{
  padding-left: 15px;
}
/* =========== */
.mobile-nav-main .allnav, .res-nav-main .allnav {
  transform: translateZ(0);
  top: 44px;
  display: block!important;
  width: 80%;
  min-width: 140px;
  max-width: 440px;
  transition: transform .4s ease;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #fff;
  height: 100vh;
  padding-left: 15px;
}
.res-nav-main .allnav{
  transform: translate(-100%); 
}
.contents-main, .contents-show-main{
  background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 15px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    -ms-transition: -ms-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    transition: transform .4s ease;
    
}
.contents-show-main{
  -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.content-show.main-content {
  padding-top: 15px;
}
.nav-mobile-icons a {
  display: flex;
  font-size: 20px;
}
/* navbar end */
.header-top, .header-icons, nav.nav > ul, .flex {
  justify-content: flex-start;  
}
.ftr-contact-ul {
  width: calc(100%/4 - 20px);
  margin: 10px;
}
.ftr-contact-form {
  width: 100%;
  max-width: 48%;
  margin: 0 10px;
}
.ftr-contact > ul {
  padding-top: 30px;
}
.ftr-icons{
  padding-bottom: 30px;
}
footer.footer {
  padding: 0;
}

.mobile-ShopDiamondShape-card1 .ShopDiamondShape-img-text {
  width: 100%;
}
.ShopDiamondShape-img-text img {
  margin: 0 auto;
}
.ShopDiamondShape h2, .ShopCategory h2, .MostLoved h2 {
  padding-bottom: 40px;
  padding-top: 60px;
}
.ShopCategory {
  padding-bottom: 60px;
  display: none;
}
.endsSoon {
  margin-bottom: 60px;
}
.endsSoon-text {
  padding-left: 50px;
}
.eternityRings-img img {
  height: 283px;
  object-position: center -246px;
}
.eternityRings-text {
  left: 20px;
}

.ftr-icons {
  column-gap: 25px;
  row-gap: 10px;
}
.header-logo {
  max-width: 100px;
}

.bridalSets-necklaces.flex {
  justify-content: space-between;
}

.menRings .menRings-text {
  padding-left: 15px;
}
.MostLoved .MostLoved-img-text img {
  width: 90px;
  height: 147px;
  object-fit: contain;
}
.MostLoved .column-width, .ShopCategory .column-width {
  width: calc(100%/3 - 0px);
  padding: 10px;
  text-align: center;
}
.ftr-contact-form {
  margin: 0;
}
.bridalSets, .bridalSets-2{
  height: auto;
}
.bridalSets .bridalSets-text {
  padding: 30px 0 0 15px;
}

.menRings .menRings-img img {
  height: 350px;
}
.bridalSets-2 .bridalSets-text {
  left: 15px;
}
 .bridalSets.flex {
  align-items: flex-start;
}
.submit-btn .button {
  padding: 15px 17px;
}

/* slider */
.mobile-ShopDiamondShapeSlider .slick-next {
  right: 0 !important;
}
.mobile-ShopDiamondShapeSlider .slick-prev {
  left: -9px !important;
}
 button.slick-arrow.slick-next:after, button.slick-arrow.slick-prev:after {
  content: "";
  color: #fff;
  position: absolute;
  top: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 9px;
  height: 9px;
  z-index: 111;
  transform: rotate(45deg);
  right: 2px;
  z-index: 111;
}
.mobile-ShopDiamondShapeSlider .slick-list {
  z-index: -1;
}

.mobile-ShopDiamondShape h2{
  text-align: center;
  padding-bottom: 20px;
}
button.slick-arrow.slick-prev:after{
  transform: rotate(226deg);
  right: -2px;
  z-index: 111;
}

.mobile-ShopDiamondShapeSlider .slick-prev:before, .slick-next:before {  
  background: #310f4c;
  padding: 15px;
  border-radius: 50px;
  font-size: 0 !important;
}
.mobile-ShopDiamondShape-main {
  display: block;
  background: #fff;
  position: relative;
  padding: 60px 0;
  z-index: 0;
}
.ShopDiamondShape{
  display: none;
}
.mobile-ShopDiamondShapeSlider .slick-slider.slick-initialized {
	z-index: 11;
}
.mobile-ShopDiamondShapeSlider .slick-prev, .mobile-ShopDiamondShapeSlider .slick-next { 
  top: 42%;  
}
.mobile-Most-Loved-Engagement, .mobile-ShopCategory{
  background: none;
}
.mobile-Most-Loved-Engagement .MostLoved-img{
  background: #fff;
  padding: 17px 0px;
}
.mobile-ShopCategory .MostLoved-img {
  padding: 40px 20px;
  background: #fff;
}
.mobile-ShopCategory .MostLoved-img img{
  width: 100%;
}
.MostLoved {
  display: none;
}
/* slider */
.header-search input {
  width: 100%;
  height: 38px;
  padding: 10px;
  border: 1px solid #ddd;
}
.header-search {
  position: relative;
  margin-top: 15px;
  width: 100%;
  z-index: -1;
}
.header-search .search-icon {
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 22px;
}

}

@media(max-width: 767px){
  .bridalSets-img img {
    height: 100%;
    object-position: initial;
}
.flex.menRings-main {
  flex-direction: column-reverse;
}
.menRings-img, .menRings-text {
  width: 100%;
}
.menRings-img {
  width: 104vw;
  margin-left: -14px;
}
.ftr-contact-form {
  width: 100%;
  max-width: 100%;
  margin: 0 10px;
}
.banner-text > p {
  padding: 15px 0px;
}

.menRings .menRings-text {
  padding: 40px 15px 40px 15px;
  max-width: 100%;
  text-align: center;
}
.eternityRings-text p:nth-child(3), .menRings-text p:nth-child(3) {
  padding: 5px 0 25px;
}
.eternityRings-text p:nth-child(2), .menRings-text p:nth-child(2) {
  padding: 15px 0px 10px;
}
.bridalSets.flex {
  margin-bottom: 20px;
  align-items: flex-start;
}
.bridalSets, .bridalSets-2 {
  width: 100%;
}
.ShopDiamondShape {
  padding-bottom: 60px;
}
.menRings .menRings-img img {
  height: auto;
}
.ShopDiamondShape-img-text img {
  width: 70px;
}
.banner .banner-text, .banner .banner-img{
  width: 100%;
}
.banner.flex {
  flex-direction: column-reverse;
}
.banner-main .container {
  padding: 0 !important;
}
.banner-text {
  text-align: center;
  padding: 40px 15px;
}

.ftr-desktop{
  display: none;
}
.mobile-footer{
  display: block;
}
.mobile-footer ul.ftr-contact-ul {
  width: 100%;
}
.mobile-footer ul.ftr-contact-ul > h4 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.mobile-footer ul.ftr-contact-ul {
  padding: 20px 0px 0px;
  margin: 0;
  border-top: 2px solid #ddd;
}
.mobile-footer .mobile-ftr-contact {
  padding-top: 15px;
}
.mobile-footer ul.ftr-contact-form {
  margin: 0;
  border-top: 2px solid #ddd;
}
.contact-main {
  display: block;
  border-top: 2px solid #ddd;
}
.contact{
  display: flex;
  justify-content: space-around;
}
.contact-main h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 30px !important;
}
.contact-main {
  display: block;
  padding-bottom: 40px;
}
.contact-main .contact-call > a, .contact-main .contact-email > a, .contact-main .contact-chat > a {
  font-size: 25px;
  color: #654b79;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
footer.footer .container {
  border-top: none;
}
.mobile-ftr-contact ul.content-show {
  border-top: 2px solid #ddd;
  padding: 20px 15px;
}
.mobile-footer ul.ftr-contact-ul > h4.active > a{
  color: #654b79;
}
.mobile-footer .ftr-contact.flex ul li > a {
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #232323;
}
}
@media(max-width: 639px){
  h1 {
    font-size: 30px;
  }
  h2{
    font-size: 25px !important;
  }
  h3{
    font-size: 22px !important;
  }
  .ftr-contact-ul {
    width: calc(100%/2 - 14px);
    margin: 7px;
}
.ShopCategory-img-text {
  width: calc(100%/2 - 20px);
  margin: 10px;
}
.ShopDiamondShape h2, .ShopCategory h2, .MostLoved h2 {
  padding-bottom: 10px;
  padding-top: 40px;
}
.endsSoon-text {
  padding-left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.endsSoon-img {
  width: 100%;
}
.eternityRings-text, .eternityRings-img {
  width: 100%;
  position: static;
}
.eternityRings-main {
  flex-direction: column-reverse;
}
.eternityRings-img img {
  height: 376px;
  object-position: center;
  width: 104vw;
  margin-left: -10px;
}
.endsSoon {
  margin-bottom: 40px;
}
.bridalSets-necklaces.flex {
  row-gap: 15px;
}
.bridalSets {
  position: relative;
  background: #cbcdc7;
  width: 100%;
}

.ShopDiamondShape-img-text img {
  width: 70px;
}
.eternityRings-text {
  padding: 15px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.ShopCategory {
  padding-bottom: 40px;
}

.ftr-contact-form {
  margin: 0;
}
.ftr-contact > ul {
 margin: 0;
}
.button {
  font-size: 14px;
  padding: 14px 52px !important;
}
.submit-btn .button {
  padding: 16px 20px !important;
}
.MostLoved .MostLoved-btn .button {
  padding: 13px 40px !important;
}
.banner-text a.button {
  padding: 19px 43px !important;
}
.MostLoved .column-width, .ShopCategory .column-width {
  width: calc(100%/2 - 0px);
}
.MostLoved .MostLoved-btn {
  margin: 40px auto 0;
}
.eternityRings .container {
  padding: 0px !important;
}

.bridalSets-2 .bridalSets-text {
  position: static;
  width: 100%;
  padding: 40px 15px 40px 15px;
  text-align: center;
}
.bridalSets .bridalSets-text {
  padding: 40px 15px 40px 15px;
  width: 100%;
  text-align: center;
}
.bridalSets .bridalSets-img {
  width: 100%;
  object-position: center;
  width: 104vw;
  margin-left: -14px;
}
.bridalSets.flex {
  flex-direction: column-reverse;
}
}
@media(max-width: 479px){
  .ShopDiamondShape-img-text {
    width: calc(100%/3 - 0px);
    padding: 15px 10px;
}

.engagement-ring > ul {
  width: 100%;
}
.nav-mobile-logo {
  width: 90px;
}
.nav-mobile-icons {
  
  column-gap: 15px;
}
.MostLoved .column-width, .ShopCategory .column-width {
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
}
.MostLoved .MostLoved-btn {
  margin: 15px auto 0;
}
.ShopDiamondShape h2, .ShopCategory h2, .MostLoved h2 {
  padding-bottom: 20px;
}

.mobile-ShopDiamondShape-main {
  padding: 40px 0;
}
}